{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock%}</title>
    <!-- CSS only -->
    <link href="{% static 'financiera/bootstrap/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"></head>
<body>
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container-md">
          <a class="navbar-brand" href="/">Inicio</a>
          {% if request.user.is_superuser%}
          <a class="nav-link text-primary" href="{% url 'financiera:deposito' %}">Deposito</a>
          <a class="nav-link text-primary" href="{% url 'financiera:retiro' %}">Retiro</a>
          {% else %} 
          {% endif %}
          <a class="nav-link text-primary">{{ request.user.cliente }} Saldo: {{request.user.cliente.cuenta_bancaria}}</a>
          <a class="nav-link text-warning" href="{% url 'logout_view' %}"> Cerrar Sesion</a> 
        </div>
    </nav>
      <div class="container mt-5">
        {% block container %}
         
        {% endblock %}
    </div>
</body>
</html>